// import partials
@import "./scss/Typography";
@import "./scss/Mixins";
@import "./scss/resets";

// Define variables for color scheme
$primary-color: #1a1d2b;
$secondary-color: #ffd700;
$tertiary-color: #ecf0f1;
$quaternary-color: #5e8b7e;

// GLOBAL STYLES
html {
  text-align: center;
  body {
    scroll-margin-top: 5rem;

    background-image: repeating-linear-gradient(
      45deg,
      $primary-color 25%,
      #2a3153 50%,
      $primary-color 75%
    );
  }
}

// define body styles
body {
  background-color: $primary-color;
  color: $tertiary-color;
  width: 100vw;
  max-width: 100vw;
  font-family: $primary-font;

  // Assign the secondary font to headings
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $secondary-font;
  }
}

.sub-heading {
  font-size: 1.25em;
}

// Define styles for the header
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: $primary-color;
  color: $tertiary-color;
  border-bottom: solid 0.25rem $secondary-color;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  font-size: 1.2rem;

  &.down {
    top: -6rem;
  }

  .header__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  .header__logo {
    p {
      background: -webkit-linear-gradient(
        0deg,
        $tertiary-color,
        $secondary-color
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .header__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;

    div {
      width: 25%;
      border-radius: 0.25rem;
      padding: 0.15rem;
      margin: 0.1rem;
    }

    a {
      text-decoration: none;
      color: $tertiary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

// Add styles for the navigation links
nav {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  li {
    padding: 0.25rem;
    transition: all 0.25s ease-in-out;
    a {
      line-height: 1.25;
    }
  }
}

// hover animation for main nav links
.header__nav__link {
  display: inline-block;
  position: relative;

  &:hover {
    cursor: pointer;

    & a {
      color: $secondary-color;
    }
  }
}

.header__nav__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: $secondary-color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header__nav__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

// Define styles for footer
footer {
  padding: 1.25rem;
}

// General style for sections
section {
  margin: 0 auto;
  padding-top: 1rem;
  min-height: 100vh;

  .section__heading {
    text-align: center;
    color: $secondary-color;
    text-shadow: inset $quaternary-color;
    scroll-margin-top: 10vh;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

// Projects style
.projects {
  display: flex;
  flex-direction: column;
}

.project__card {
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 2.5rem;
  text-align: center;
  padding: 1rem 0 2rem 0;
  width: 80%;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem black);
  transition: translate 0.5s ease-in-out;
  transition: opacity 0.25s ease;
}

.project__image {
  transition: all 0.15s ease-in-out;
  padding-bottom: 1rem;
  width: 80vw;
  margin: 0 auto;

  & img {
    border-radius: 0.45rem;
    max-height: 100vh;
    width: auto;
    max-width: 100%;

    &:hover {
      filter: drop-shadow(0.5rem 1rem 0.6rem black);
      transform: scale(1.1);
    }
  }
}

.project__details {
  width: 80%;
  margin: 0 auto;

  .project__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .project__description {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: $tertiary-color;
    transition: all 0.15s ease-in-out;
    width: 100%;

    &:hover {
      color: $secondary-color;
    }
  }
}

.project__techs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .tech {
    margin-bottom: 1.2rem;

    display: flex;
    align-items: center;
  }

  .tech:hover {
    transform: translateY(-0.5rem);
  }

  .icons img {
    width: 2rem;
    margin: 0.25rem;
  }

  .Tooltip-Wrapper {
    height: fit-content;
  }
}

.project__links {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  a {
    max-width: fit-content;
    text-decoration: underline;
    background-position: 0 100%;
    background-repeat: repeat-x;
    margin: 0 1rem;

    &:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-15px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffd700' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-size: auto 0.2rem;
      text-decoration: none;
    }
  }
}

// About (& skills) styling
.about {
  margin: 0 auto;
  width: 80%;
}

.skills {
  width: 90%;
  margin: 0 auto;
  .section__heading {
    margin: 0;
    margin-top: 2rem;
  }
}

.about__headshot {
  width: 35vw;
  margin-bottom: 1.5rem;
}

.bio {
  margin: 0 auto;
  max-width: 60ch;
  text-align: center;

  h2,
  p {
    margin-bottom: 1rem;
  }

  .sub-heading {
    margin-bottom: 1rem;
  }
}

.accent {
  color: $secondary-color;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.skill {
  background-color: $secondary-color;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  color: $primary-color;
  transition: background-color 0.25s ease-out;
  cursor: default;

  &:hover {
    background-color: $tertiary-color;
    transform: scale(1.1);
    transform: translateY(-0.25em);
  }
}

// Contact styling
.contact {
  width: 80%;
  min-height: 80vh;

  .contact__info__container {
    max-width: 100ch;
    margin: 0 auto;
  }

  div {
    padding: 2rem;

    &:nth-of-type(1) {
      border-bottom: 0.1em solid $tertiary-color;
    }
  }

  .submitBtn {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid transparent;
    cursor: pointer;
    width: 10rem;
    margin: 0 auto;

    &:hover {
      background-color: $secondary-color;
      transform: scale(1.1);
    }
  }
}

.form__container {
  margin: 0 auto;
  padding: 0 2rem;

  textarea {
    min-height: 5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  max-width: 40rem;

  label {
    display: none;
  }

  input,
  textarea {
    font-family: $primary-font;
    min-width: 10rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    border: none;
    color: $primary-color;
    transition: all 0.15s ease-in-out;
    background-color: #b0bbbb;

    &:focus {
      outline: solid darken($secondary-color, 5) 0.3rem;
      background-color: #fff;
    }

    &:hover {
      background-color: #fff;
    }
  }
}

// MEDIA QUERIES

@media screen and (min-width: 568px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html {
    font-size: 1rem;
  }

  .project__techs__list {
    .tech {
      margin-bottom: 1.2rem;
    }

    .tech:hover {
      transform: translateY(-0.5rem);
    }

    .icons img {
      width: 2.5rem;
      margin: 0.5rem;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  html {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.5rem;
  }

  // PROJECTS STYLING
  .project__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width: 90%;
    margin: 0 auto 2rem;
    padding: 2rem;

    .project__title {
      margin-bottom: 0;
    }

    .project__description {
      margin: 0.5rem auto;
      width: 80%;
    }

    .project__image,
    .project__details {
      min-height: fit-content;
    }

    .project__details {
      width: 80%;
      margin: auto 0;
      padding-bottom: 0.5rem;

      .project__title {
        font-size: 1.2rem;
      }
    }

    .project__image {
      padding-bottom: 0;
    }

    .project__image img {
      max-height: 80rem;
    }
  }

  .project__card:nth-child(2n -1) {
    flex-direction: row-reverse;
  }

  .project__techs__list {
    margin: 0;
    .tech:hover {
      transform: translateY(-0.5rem);
    }

    .icons img {
      width: 1.5rem;
      margin: 0.25rem;
    }
  }

  // ABOUT styling
  .about__content__wrapper {
    display: flex;
    padding: 2rem;
  }
}
