// Define variables for color scheme
$primary-color: #1a1d2b;
$secondary-color: #ffd700;
$tertiary-color: #ecf0f1;
$quaternary-color: #5e8b7e;

// General style for sections
@mixin section-style {
  section {
    height: 90vh;
    margin: 0 auto;
    padding: 0 15px;
  }
  .section__heading {
    text-align: center;
    color: $secondary-color;
  }
}
